.main {
    min-height: 100vh;
    background: url('../../img/bg/main-screen-bg.jpg') center (center/cover) no-repeat;
    padding-top: 24px;
    position: relative;
    &__text {
        padding: 90px 0 200px 0;
        width: 616px;
    }
    &__title {
        color: #ffffff;
        span {
            color: #ffffff;
        }
    }
    &__subtitle {
        padding-top: 24px;
        color: #ffffff;
    }
    .main__link {
        color: #FFD723;
        padding-top: 45px;
        text-decoration: underline;
        a {
            color: #FFD723;
        }
    }
}